[submodule "vimUltiSnippets/angular-vim-snippets"]
	path = vimUltiSnippets/angular-vim-snippets
	url = git@github.com:matthewsimo/angular-vim-snippets.git
[submodule "angular-vim-snippets"]
	path = angular-vim-snippets
	url = git@github.com:matthewsimo/angular-vim-snippets.git
